[flake8]
max-module-members = 10
i-control-code = False
ignore =
  W503,    #
  D100,    # Missing docstring in public module
  D103,    # Missing docstring in public function
  D104,    # Missing docstring in public package
  WPS300,  # Found local folder import
  WPS210,  # Found too many local variables: 8 > 5
  WPS221,  # Found line with high Jones Complexity: 15 > 14
  WPS305,  # Found `f` string
  WPS306,  # Found class without a base class
  WPS433,  # Found nested import
  WPS111,  # Found too short name: x < 2
  WPS224   # Found a comprehension with too many `for` statements
per-file-ignores =
  # There are multiple `assert`s in tests, we allow them:
  tests/*.py:S101
  packages/python/m/core/fp.py:WPS110
