[MESSAGES CONTROL]
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(f'{os.path.dirname(find_pylintrc())}/packages/python')"

disable=
  broad-except,
  missing-module-docstring

no-docstring-rgx=^_|run|add_parser|main|add_arguments

good-names=_,
  i, j, k,
  x, y, z,
  ex, pr, fp

class-const-naming-style=snake_case

max-args=7


min-similarity-lines=10
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=no
ignore-signatures=yes
